:root {
    --background: #F5F5DC;
    --primary-color: #A0522D;
    --secondary-color: #262626;
    --text-color: #000000;
    --text-color-secundary: #FFFFFF;
    --secondary: #BFAF9E;
}

.hero-section {
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),
                  url('https://images.unsplash.com/photo-1584132967334-10e028bd69f7?auto=format&fit=crop&w=1470&q=80') center/cover no-repeat;
      min-height: 65vh;
      color: white;
    }

