:root {
    --background: #F5F5DC;
    --primary-color: #A0522D;
    --secondary-color: #262626;
    --text-color: #000000;
    --text-color-secundary: #FFFFFF;
    --secondary: #BFAF9E;
}

body {
font-family: 'Poppins', sans-serif;
color: var(--text-color);
background-color: var(--background);
}

h1, h2, h3 {
font-family: 'Playfair Display', serif;
}

.hero-section {
background: linear-gradient(rgba(172, 122, 56, 0.5), rgba(168, 91, 40, 0.5)),
center/cover no-repeat;
min-height: 65vh;
color: var(--text-color-secundary);
}

.form-label {
font-weight: 500;
color: var(--text-color);
font-family: 'poppins', sans-serif;
text-align: center;

}

.form-control {
border: 1px solid var(--primary-color);
max-width: 700px;

}